body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat",serif;
    background-color: rgba(254,254,254,255)
}

header{
    margin: 0;
    padding: 15px 0;
    width: 100%;
    height: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
}
header p{
    font-size: 1.5rem;
}
.page1-main-div{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
    gap: 20px;
    /* padding-bottom: 50px; */
    height: 100vh;
}
.page1-left-div{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 70px;
}
.page1-left-div h2{
    font-size: 1.5rem;
    font-weight: 300;
    opacity: 0.8;
}
.page1-left-div h1{
    font-size: 2.5rem;
    margin-top: -5px;
    width: 400px;
    text-align: start;
    font-weight: 700;
}
.page1-left-div p{
    font-size: 1rem;
    width: 450px;
    font-weight: 300;
    margin-top: -5px;
    opacity: 0.7;
}
.page1-left-img-div{
    position: relative;
    margin-top: 20px;
}
.page1-left-div img{
    position: absolute;
    height: 90px;
    width: 90px;
}
.page1-left-img-div h2{
    position: absolute;
    left: 120px;
    font-size: 1.5rem;
    font-weight: 400;
}
.page1-left-img-div h3{
    position: absolute;
    top: 25px;
    left: 120px;
    font-size: 1.5rem;
    font-weight: 700;
}
.page1-right-div{
    position: relative;
}

.page1-right-div img{
    margin-left: 70px;
    height: 450px;
    width: 450px;
}

#page2{
    height: 100vh;
    background-color: rgba(77,160,239,255);
    padding-bottom: 20px;
    padding-top: 10px;
}
.second_page-upper-div{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(550px,1fr, 1fr));
    gap: 20px;
    row-gap: 40px;
    justify-content: center;
    padding-top: 30px;
}
.page2-upper-1 img{
    margin: 0px 20px;
    width: 220px;
}
.page2-upper-2 img{
    margin: 0px 20px;
    width: 220px;
}

.second_page-lover-div{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
}
.second_page-lover-div .lover_div1{
    padding: 10px 0;
    margin-left: 100px;
    background-color: #fff;
    border-radius: 50px;
    text-align: center;
    height: 240px;
    width: 300px;
}
.second_page-lover-div .lover_div2{
    padding: 10px 0;
    margin-left: 75px;
    background-color: rgba(77,160,239,255);
    border-radius: 50px;
    text-align: center;
    color: rgba(254,254,254,255);
    width: 250px;
    height: 240px;
}
.second_page-lover-div .lover_div3{
    padding: 10px 0;
    margin-left: 10px;
    background-color: #fff;
    border-radius: 50px;
    text-align: center;
    width: 300px;
    height: 240px;
}
.page2_img{
    margin-top: 5px;
    margin-bottom: -5px;
    height: 80px;
    width: 80px;
}
.second_page-lover-div p{
    opacity: 0.7;
}


.page3-main-div{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
    gap: 20px;
    height: 100vh;
    margin-right: 100px;
}
.page3-left-div img{
    margin-left: 75px;
    margin-top: 75px;
    height: 450px;
    width: 450px;
}
.page3-right-div{
    margin-top: 100px;
}
.page3-right-div > h3{
    font-size: 1.2rem;
    font-weight: 300;
}
.page3-right-div > h1{
    margin-top: -5px;
    font-size: 2.5rem;
    font-weight: 600;
}
.page3-right-div > p{
    margin-top: -5px;
    font-size: 1rem;
    font-weight: 400;
    margin-right: 80px;
    padding-bottom: 10px;
}
.page3-right-img-div{
    position: relative;
    margin-top: 20px;

}
.page3-right-div img{
    position: absolute;
    height: 80px;
    width: 80px;
}
.page3-right-img-div p{
    position: absolute;
    font-size: 1rem;
    font-weight: 300;
    left: 100px;
    margin-right: 70px;
    opacity: 0.7;
}
.page3-right-img-div h3{
    position: absolute;
    font-size: 1rem;
    font-weight: 500;
    top: 100px;
    left: 100px;
}

#page4{
    height: 100vh;
    background-color: rgba(241,241,241,255);
}
.page4-main-div{
    display: flex;
}
.page4-left-div{
    margin-top: 10px;
    margin-left: 120px;
}
.page4-left-div h2{
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    width: 500px;
    text-align: left;
}
.page4-inner-div1{
    width: 450px;
    height: 180px;
    background-color: #fff;
    border-radius: 25px;
    margin-bottom: 10px;
}
.page4-inner-div1 img{
    width: 60px;
    height: 60px;
    margin: 5px 0 -10px 5px;
}
.page4-inner-div1 > h3{
    margin-left: 20px;
}
.page4-inner-div1 > p{
    margin-left: 20px;
    opacity: 0.7;
}
.page4-inner-div2{
    width: 450px;
    height: 180px;
    background-color: #fff;
    border-radius: 25px;
}
.page4-inner-div2 img{
    width: 60px;
    height: 60px;
    margin: 5px 0 -10px 5px;
}
.page4-inner-div2 > h3{
    margin-left: 20px;
}
.page4-inner-div2 > p{
    margin-left: 20px;
    opacity: 0.7;
}

.page4-right-div{
    margin: auto;
}
.page4-right-div img{
    margin-top: 30px;
    width: 450px;
    width: 450px;
}

#page5{
    width: 100%;
    height: 550px;
    padding-top: 10px;
}
.page5-main-div{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
    gap: 5px;
    margin: 20px 50px;
}
.page5-left-div{
    margin-left: 70px;
    margin-top: 10px;
}
.page5-left-div > h2{
    font-size: 2.5rem;
    font-weight: 700;
    width: 550px;
}
.page5-left-div > div{
    background-color: rgba(241,241,241,255);
    padding: 10px 40px 50px 40px;
}
.page5-left-div > p{
    font-weight: 600;
}
.page5-left-div i{
    float: right;
    color: black;
    font-size: 25px;
}


.page5-right-div{
    margin-top: 20px;
    margin-left: 180px;
}
.page5-right-inner-div{
    width: 275px;
    height: 320px;
    background-color: rgba(77,160,239,255);
    padding: 100px 20px 0px 30px;
    color: #fff;
    border-radius: 50px;
}
.page5-right-inner-div > h3{
    margin-top: 70px;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 25px;
}
.page5-right-inner-div > p{
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 300;
}


#page6{
    width: 100%;
    height: 750px;
    background-color: rgba(241,241,241,255);
}
.page6-main-div{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
    gap: 20px;
    margin-left: 75px;
    padding: 20px 0;
}
.page6-div{
    margin: 20px 0 0 0;
}
.page6-div img{
    width: 300px;
    margin-left: 100px;
    margin-bottom: -5px;
}
.page6-div > div{
    width: 450px;
    height: 120px;
    background-color: #fff;
    text-align: center;
    justify-content: center;
    padding: 5px 10px;
}

.page6-div4 img{
    margin-top: 10px;
}
.page6-div p{
    opacity: 0.8;
}

#page7{
    width: 100%;
    height: 300px;
    background-color: rgba(77,160,239,255);
    padding-top: 5px;
}
.page7-main-div{
    display: flex;
    background-color: #fff;
    width: 1100px;
    height: 200px;
    margin: 45px 0 0 80px;
}
.page7-left-div{
    margin-left: 20px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 15px;
    padding-top: 20px;
}
.page7-right-div{
    background-color: rgba(77,160,239,255);
    width: 250px;
    height: 50px;
    margin: 75px 0 0 250px;
}
.page7-right-div h3{
    margin: 15px 10px 10px 60px;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

#page8{
    width: 100%;
    height: 100vh;
    padding-top: 5px;
}
.page8-main-div{
    display: flex;
}
.page8-main-div img{
    width: 500px;
    height: 500px;
    margin: 50px;
}
.page8-right-div{
    background-color: rgba(241,241,241,255);
    margin: 60px 80px 80px 80px;
    width: 550px;
    height: 500px;
    border-radius: 50px;
}
.page8-right-div h2{
    margin: 30px;
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 60px;
}
.page8-right-div h3{
    margin: 30px;
}
.page8-right-div p{
    margin: -10px 30px 30px 30px;
    opacity: 0.4;
}

#page9{
    width: 100%;
    height: 100vh;
    padding-top: 5px;
    padding-bottom: 50px;
}
.page9-main-div{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
    gap: 20px;
}
.page9-left-div{
    margin: 50px auto;
    background-color: rgba(77,160,239,255);
    padding: 50px;
    border-radius: 50px;
    height: 400px;
}
.page9-left-div > div{
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-top: 25px;
    margin-left: 10px;
}
.page9-left-div h3{
    margin-bottom: 2px;
}
.page9-left-div h3 i{
    margin-right: 10px;
}


.page9-right-div{
    margin-top: 30px;
}
.page9-right-div h2{
    font-size: 3rem;
    margin-left: 125px;
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    margin-left: 50px;
}
form input,textarea{
    border: none;
    background-color: rgba(241,241,241,255);
    margin: 10px;
}
form input{
    padding: 10px 30px;
}
form textarea{
    padding: 50px;
}
form button{
    border-radius: 50px;
    margin-top: 20px;
    border: none;
    padding: 12px 30px;
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    background-color: rgba(77,160,239,255);
}

#page10{
    width: 100%;
    height: 110px;
    background-color: rgba(49,49,49,255);
    display: flex;
    justify-content: center;
    align-items: center;
}
#page10 p{
    color: #fff;
    opacity: 0.8;
    font-size: 1rem;
    font-weight: 200;
}